@import "./import/_variables.scss";

$theme-colors: ("primary": $green,
  "danger": #ff36a5);

@import "../../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./import/_typography.scss";

$heading-font-family: "San Francisco";
$body-font-family: "San Francisco";

// @media only screen and (orientation:portrait) {
//     body {

//         transform: rotate(90deg);
//     }
// }

html {
  scroll-behavior: smooth !important;
}

html,
body {
  width: 100vw !important;
  height: 100%;
  font-family: $body-font-family, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font-family, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility;
  color: $green !important;
  //font-weight: bold;
}

#app.inner {
  padding-top: 4rem !important;
}

.h-50 {
  min-height: 30vh !important;
}

.flex-wrapper-100 {
  //height: 100% !important;
  outline: none;
}


.bgStruct {
  width: calc(100vw -6vmin) !important;
  height: auto;
  margin-bottom: 3rem;
  overflow: hidden;

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;

  }
}

@import "./import/_category.scss";
@import "./import/_drawer.scss";
@import "./import/_navbar.scss";
@import "./import/_page.scss";
@import "./import/_medicalcare.scss";
@import "./import/_ricerca.scss";
@import "./import/_news.scss";
@import "./import/_footer.scss";



span.wpcf7-form-control-wrap {

  input,
  textarea {

    @extend .form-control;
    margin-bottom: 1rem;
  }
}

// .btn-circle {
//   border-radius: 50%;

//   &:focus {
//     box-shadow: none !important;
//   }

//   &.btn-sm {
//     width: 30px;
//     height: 30px;
//     padding: 6px 0px;
//     font-size: 8px;
//     text-align: center;
//   }

//   &.btn-md {
//     width: 50px;
//     height: 50px;
//     padding: 7px 10px;

//     font-size: 10px;
//     text-align: center;
//   }

//   &.btn-xl {
//     width: 70px;
//     height: 70px;
//     padding: 10px 16px;

//     font-size: 12px;
//     text-align: center;
//   }
// }

.btn-outline-purple {
  @include button-outline-variant($purple,
    color-yiq($purple),
    $purple,
    $purple);
}

.btn-purple {
  @include button-variant($purple,
    color-yiq($purple),
    $purple,
    $purple);
}

.homenav {
  //backdrop-filter: blur(20px);
  background-color: rgba(white, 0.7) !important;
}

.main-crop {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sf_font {
  font-weight: 900;
  font-family: $body-font-family !important;
  text-transform: uppercase;
  color: white !important;
  line-height: 4.5rem;
  padding: 1rem 0;
}



.full-height {
  //  height: calc(100vh - 6vmin) !important;
  height: calc(100vh - (#{$page_border} * 2)) !important;
}

.middlepage {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.homemenu {
  padding: 1rem 0;

  ul {
    font-family: $heading-font-family;
    float: left;
    padding: 0px !important;
    margin: 0px;

    li {
      list-style: none;
      float: left;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.spacer {
  height: 3rem;
}

.single-title {
  background-color: $green;

  &.medcare {
    background-color: $red !important;
  }

  height: 15rem;
  display: flex;
  align-items: flex-end;
  padding: .5rem 1rem;

  h1 {
    color: white !important;
  }

  margin-bottom: 2rem;
}

.img-crop {
  width: 100%;
  height: 40vmin;
  overflow: hidden;

  img {
    object-position: center center;
    object-fit: cover !important;
    width: 100%;
    height: 100%;
  }
}

.scrollButton {
  position: absolute;
  z-index: 2998;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  bottom: calc(100vh + 28px);
}

// $red: #e92207;
// $green: #579976;
// $purple: #c100fe;
// $dark-grey: #616161;
// $page_border: 3vmin;

.imageCrop {
  width: 60vmin;
  height: 60vmin;
}



footer {
  .card {
    border: none !important;

    .card-footer {
      background-color: inherit !important;
    }
  }
}

.debug {
  border: 1px solid tomato;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(50px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: rotateX(15deg) rotateZ(5deg) translatey(-50px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(50px);
  }
}