.news-bg {
  background-image: url('../img/news.jpg');
  background-size: cover;
  background-position: center bottom;
  height: 30vh;
  //filter: blur(10px) !important;
  margin-bottom: 3rem;

  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
  text-align: center;

  h1 {
    width: 100%;
    text-shadow: 0px 2px 10px rgba(black, 0.3);
  }

}

.custom-big-text {
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 8rem;
    line-height: 6rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 8rem;
  }
}

.card {
  .card-image {
    max-height: 200px !important;
    overflow: hidden;

    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
    }
  }
}