//@import "~bootstrap/scss/_variables";

$red: #9a3231;
//$green: #579976;
$green:#6A753C;
$purple: #915684;
$dark-grey: #616161;
$page_border: 3vmin;

:export {
  red: $red;
  green: $green;
  purple: $purple;
  dark_grey: $dark-grey;
  page_border: $page_border;
}